.assinar-disney {
    font-size: 19px;
    line-height: 30px;
    font-family: Avenir,sans-serif;
    text-align: center;
  
    a {
      color: #f9f9f9;
      text-decoration: none;
      text-decoration: underline;
    }
  
    p {
      color: silver;
      font-size: 18px;
    }
  }